<div class="container">
    <h1>Mihon & Aniyomi Extensions</h1>

    <% for (const [category, repos] of Object.entries(extensions)) { %>
    <div class="<%= category %>">
        <h2><%= category.charAt(0).toUpperCase() + category.slice(1) %> Extensions</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Auto</th>
                <th>Manual</th>
            </tr>
            <% for (const repo of repos) { %>
            <tr>
                <td><a href="<%= repo.source %>" target="_blank"><%= repo.name %></a></td>
                <td>
                    <% for (let i = 0; i < domains.length; i++) { %>
                        <a href="aniyomi://add-repo?url=<%= domains[i] %><%= repo.path %>" target="_blank">
                            Install <sup>[<%= i + 1 %>]</sup>
                        </a>
                        <% if (i < domains.length - 1) { %><span>, </span><% } %>
                    <% } %>
                </td>
                <td>
                    <% for (let i = 0; i < domains.length; i++) { %>
                        <a href="<%= domains[i] %><%= repo.path %>" target="_blank">URL <sup>[<%= i + 1 %>]</sup></a>
                        <% if (i < domains.length - 1) { %><span>, </span><% } %>
                    <% } %>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    <% } %>
</div>